@font-face

/*Téléchargement de la police Raleway*/
    {
    font-family: 'Raleway';
    src: url('static/Raleway-Black.ttf'),
        url('static/Raleway-BlackItalic.ttf') url('Raleway-VariableFont_wght.ttf') url('Raleway-Italic-VariableFont_wght.ttf')
}

* {
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}

/*General*/
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: large;
}

p {
    font-size: small;
}

h3 {
    font-weight: bold;
}

/* Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px;
}

/*Navigation*/

.fas {
    color: #0065fc;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-left: 30px;
}

nav a {
    font-size: 0.9em;
    color: #0065fc;
    padding-top: 3px;
    text-decoration: none;
}

nav a:hover {
    border-top: 3px solid #0065fc;
}

a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

a:hover {
    text-decoration: underline;
    color: #0065FC;
}

/*Titre principal*/

.header_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.titre_principal {
    display: flex;
    flex-direction: column;
}

.titre_trouvez {
    margin-bottom: 14px;
}

/*Barre de recherche*/

.gps-logo {
    position: relative;
    height: 40px;
    background-color: #F2F2F2;
    width: 54px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.fa-map-marker-alt {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-section {
    display: flex;
    height: 40px;
    margin-top: 15px;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
}

.rechercher {
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
}


/*Filtres*/

#filtres-section {
    display: flex;
    align-items: center;
    margin: 32px 0px 41px 0px;
}


.filtre-bouton {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25px;
    flex-wrap: wrap;

}

.circle-icon-filter {
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 1px;
}

.filtre {
    display: flex;
    flex-wrap: wrap;
}

.filtre p {
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    padding: 0px 25px 0px 65px;
    border-radius: 25px;
}

.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
    color: #0065FC;
    font-size: 1.5em;
}


h3 {
    font-size: small;
    font-style: italic;
    font-weight: normal;
}

.nombre_logements {
    margin: 0px 0px 35px 17px;
}

.filtre-bouton:hover {
    text-decoration: underline;
    color: #0065FC;
}

.fas.fa-info-circle {
    color: black;
}

/*Hébergements à Marseille*/

#hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
}

.titre_hebergements_a_marseille {
    margin: 0px;
    ;
    font-size: large;
    margin-bottom: 21px;
}

#hebergements_a_marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 44px 36px 44px 36px;
    max-width: 805px;
}

.container_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 60px;
}

.box_carte {
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    max-width: 236px;
    margin-bottom: 28px;

}

.hebergement_image {
    padding-left: 5px;
    padding-right: 5px;
}

.photo_hebergement {
    object-fit: cover;
    width: 236px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hebergement_contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;
}

.titre_contenu {
    padding-top: 11px;
    padding-bottom: 11px;
}

.prix_contenu {
    padding-bottom: 11px;
}

.hebergement_notation {
    padding-bottom: 11px;
}

.hebergement_contenu h3,
.hebergement_populaire_contenu h3 {
    font-weight: bold;
    font-style: normal;
}

.hebergement_montrer_plus {
    font-weight: bold;
}

.fas.fa-star.grey-star {
    color: grey;
}

/*Les plus populaires*/

.titre_popularite {
    display: flex;
    flex-direction: row;
}

.titre_les_plus_populaires {
    font-size: large;
    margin-bottom: 25px;
}

.fa-chart-line {
    color: black;
}

#container_hebergements_populaires {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 45px 38px 31px 45px;
    max-width: 345px;
}

.hebergement_les_plus_populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box_populaire_carte {
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    background-color: white;
    padding: 6px 58px 6px 6px;
    min-width: 284px;
    min-height: 135px;
    margin-bottom: 29px;
}

.photo_populaire {
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.hebergement_populaire_contenu {
    padding: 7px 0px 7px 20px;
    display: flex;
    flex-direction: column;
}

.titre_populaire_contenu {
    padding-bottom: 14px;
}

.prix_populaire_contenu {
    padding-bottom: 30px;
}

.hebergement_notation_populaire {
    width: 94px;
    height: 15px;
}

/*Activités à Marseille*/

#Activités_à_Marseille {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    max-width: 1350px;
}

.titre_activites {
    margin-bottom: 27px;
}

.activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activite2et3, .activite5et6
{
    display: flex;
    flex-direction: column;
}
.activite1,
.activite2,
.activite3,
.activite4,
.activite5,
.activite6 {
    border: solid #F2F2F2 3px;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    min-width: 284px;
    min-height: 135px;
    margin: 0px 0px 20px 0px;
}

.photo_activite1,
.photo_activite2,
.photo_activite3,
.photo_activite4,
.photo_activite5,
.photo_activite6 {
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
}

.photo_activite11,
.photo_activite22,
.photo_activite33,
.photo_activite44,
.photo_activite55,
.photo_activite66 {
    width: 303px;
    height: 112px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Activités_à_Marseille h1 {
    font-size: xx-large;
}

#Activités_à_Marseille h2 {
    font-size: medium;
}

/*Footer*/
footer {
    max-width: 1350px;
    padding: 48px 366px 51px 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.titre_apropos {
    padding-bottom: 22px;
}

.a_propos {
    display: flex;
    flex-direction: column;
}

.titre_noshebergements {
    margin-bottom: 22px;
}

.nos_hebergements {
    display: flex;
    flex-direction: column;
}

.titre_assistance {
    padding-bottom: 22px;
}

.assistance {
    display: flex;
    flex-direction: column;
}

footer h4 {
    font-weight: normal;
}

footer h2 {
    font-size: large;
}

/*Responsive*/

@media all and (min-width : 1300px) and (max-width : 2560px) {

    .photo_activite11 {
        width: 301px;
        height: 390px;
    }

    .photo_activite44 {
        width: 304px;
        height: 391px;
    }

    .photo_activite22 {
        width: 304px;
        height: 183px;
    }

    .photo_activite33 {
        width: 303px;
        height: 112px;
    }

    .photo_activite55 {
        width: 302px;
        height: 141px;
    }

    .photo_activite66 {
        width: 304px;
        height: 155px;
    }
}


@media all and (max-width : 1300px) {
    #hebergements_a_marseille {
        margin-bottom: 50px;
    }

    .hebergement_les_plus_populaires {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #container_hebergements_populaires {
        max-width: 805px;
    }

    .photo_activite11 {
        width: 301px;
        height: 390px;
    }

    .photo_activite44 {
        width: 304px;
        height: 391px;
    }

}

@media all and (max-width : 1250px)
{
    .activite1, .activite2, .activite3, .activite4, .activite5, .activite6
    {
        width: 303px;
        height: 138px;
    }

    .photo_activite11, .photo_activite44 {
        width: 303px;
        height: 112px;
    }
    .activites
    {
        display: flex;
        flex-direction: row;
    }
    

}

/* @media all and (max-width : 1100px)
{
    footer 
    {
        display: flex;
        flex-direction: column;
    }
    .a_propos
    {
        margin-bottom: 20px;
    }
    .nos_hebergements
    {
        margin-bottom: 20px;
    } */
/* Smartphones*/
/* @media only screen and (max-width : 768px)
{
    #hebergement
    {
        flex-direction: column;
        width: 100%;
    }
    .box_partie
    {
        flex-direction: column;
    }
    footer
    {
        flex-direction: column;
    }
    #container_hebergement:nth-child(1)
{
    order: 2;
}
    #container_hebergements_populaires:nth-child(2)
    {
        order:1;
    }
    .activites
    {
        flex-direction: column;
        width: 100%;
    }
    #container_hebergements_populaires
    {
        margin-bottom: 30px;
        width: 100%;
    }
    #container_hebergement
    {
        width: 100%;
    }
    .box_carte 
    {
        margin-bottom: 30px;
    }
    .activite1, .activite3, .activite4
    {
        margin-bottom: 30px;
    }

    footer 
    {
        flex-direction: column;
    }
    .a_propos
    {
        margin-bottom: 30px;
    }
    .nos_hebergements
    {
        margin-bottom: 30px;
    }
   
} */

/*Ecrans mediums*/
/* @media only screen and (min-width: 768px) and (max-width: 1049px)
{
    #hebergement
    {
        flex-direction: row;
    }
    #container_hebergements_populaires
    {
        margin-left: 40px;
        margin-right: 50px;
        min-width: 50%;
        margin-bottom: 30px;
    }
    #container_hebergement
    {
        min-width: 50%;
    }
    .box_partie
    {
        flex-direction: column;
    }
    #container_hebergement:nth-child(1)
    {
        order: 2;
    }
        #container_hebergements_populaires:nth-child(2)
        {
            order:1;
        }
    .activites
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titre_activites
    {
        margin-left: 50%;
    }
    .box_carte 
    {
        margin-bottom: 30px;
    }
    .activite1, .activite3, .activite4
    {
        margin-bottom: 30px;
    }
    .activite1, .activite4
    {
        margin-bottom: 50px;
    }
    .activite2, .activite5
    {
        margin-right: 50px;
    }
    .activite2et3, .activite5et6
    {
        flex-direction: row;
    }

} */
/*Autres écrans (ne rien mettre car les paramètres de base fonctionnent*/
/* @media only screen and (min-width: 1050px) and (max-width: 1320px)
{

} */