@font-face /*Téléchargement de la police Raleway*/
{
    font-family: 'Raleway';
    src: url('static/Raleway-Black.ttf'),
          url('static/Raleway-BlackItalic.ttf')
          url('Raleway-VariableFont_wght.ttf')
          url('Raleway-Italic-VariableFont_wght.ttf')
}
*
{
font-family: 'Raleway', Arial, Verdana, sans-serif;    
}
#bloc_page
{
    margin: auto;
}

/* Header*/
.headerimg
{
    display: flex;
    justify-content: flex-start;

}
.headerNav
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

/*Fin du header*/

/*Filtres*/

.filter
{
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*Filtres*/

/*Hébergements à Marseille*/

#Hebergements
{
    background-color: grey;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.auberge
{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;


}
#Les_plus_populaires
{
    background-color: grey;
    display: flex;
    flex-direction: row;
}
/*Hébergements à Marseille*/

/*Les plus populaires*/

/*Fin les plus populaires*/

/*Activités à Marseille*/

/*Fin des activités à Marseille*/